.sign-part{
    border: 1px solid gray;
    margin: 5% auto;
    width:440px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px gray;
}
.sign-part h2{
    margin-top: 30%;
    margin-bottom: 25px;
}
.inside{
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    border: 1px solid gray;
    width:60%;
    border-radius: 20px;
    padding:1px 10px;
    cursor: pointer;
    line-height:18px;
}
.inside img{
    height: 30px;
    margin-top: 4px;
}
.inside p{
    padding-top: 4px;
}
.logo{
    height: 70px;
    margin-top: 20px;
}